# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

cimgui/build
cimgui/.DS_Store
.DS_Store

cmd/codegen/codegen
examples/example
.ccls-cache
thirdparty/glfw/build
/cmd/codegen/build/

.clang-format

## editors
# GoLand/CLion
.idea
# Vim cache files
*.swp

# make update temporary directory
tmp

# make setup codegen build
/codegen
